<div id="message">

</div>
<div class="mt-5 flex flex-col">
    <form id="form" class="flex flex-col items-center gap-6" method="post">
        <label class="font-bold text-xl">Product Name:</label>
        <input class="w-4/6 outline-none bg-slate-200 p-2 shadow" id="title" name="title">
        <label class="font-bold text-xl">Price:</label>
        <input class="w-4/6 outline-none bg-slate-200 p-2 shadow" id="price" name="price" type="number">
        <label class="font-bold text-xl">URL Photo:</label>
        <input class="w-4/6 outline-none bg-slate-200 p-2 shadow" id="url" name="url">
        <div class="flex gap-10">
            <button type="submit" class="bg-red-400 p-3 px-10 rounded shadow hover:bg-red-500 text-lg">Send</button>
        </div>
    </form>
</div>

<div class="flex flex-col items-center justify-center mt-7" id="history"></div>

<div class="text-center h-full p-10 bg-slate-200" id="chat">
    <h2 class="text-2xl font-bold mb-10">Chat</h2>

    <div id="messages" class="w-100 h-64 bg-white mb-10 overflow-y-scroll">
        
    </div>

    <div class="flex gap-6">
        <input id="chatBox" type="text" placeholder="Type Something..." class="flex flex-end w-3/12 outline-none p-0.5 shadow rounded placeholder:text-sm placeholder:pl-1">
        <input id="sendButton" type="button" value="Send" class="bg-green-400 w-20 rounded hover:bg-green-500 hover:cursor-pointer">
    </div>
</div>